<h1 mat-dialog-title *ngIf="winner; else draw">
    {{ winner.id === 0 ? redWins : yellowWins }} 
</h1>
<ng-template #draw><h2 mat-dialog-title>Match nul</h2></ng-template>
<mat-dialog-content class="mat-typography">
    <img *ngIf="winner.id === 0" src="/assets/img/trophee-red.svg" class="win__image" />
    <img *ngIf="winner.id === 1" src="/assets/img/trophee-yellow.svg" class="win__image" />
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="quit">Quitter</button>
  <button mat-button mat-dialog-close="replay" cdkFocusInitial>Rejouer</button>
</mat-dialog-actions>
