:host{
    position: relative;
}

.case{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
    opacity: 1;
    background: url("/assets/img/empty-case.png");
    background-size: contain;
    outline: 1px solid #2867b2;
    box-shadow: 2px 2px 2px #2867b2, -2px -2px 2px #2867b2, 2px -2px 2px #2867b2, -2px 2px 2px #2867b2;

    &:before{
        content: "";
        padding-bottom: 100%;
        display: block;
        outline: 1px solid #2867b2;
    }

    &--pawn-red{
        background: url("/assets/img/red-case.png");
        background-size: contain;
    }

    &--pawn-yellow{
        background: url("/assets/img/yellow-case.png");
        background-size: contain;
    }
}