.game{
    max-width: 88vh;
    margin: auto;

    &__grid-container{
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        border: 12px solid #2867b2;
        border-radius: 23px;

        &--5{
            grid-template-columns: repeat(5, 1fr);
        }
        &--7{
            grid-template-columns: repeat(7, 1fr);
        }
        &--9{
            grid-template-columns: repeat(9, 1fr);
        }
        &--11{
            grid-template-columns: repeat(11, 1fr);
        }
        &--13{
            grid-template-columns: repeat(13, 1fr);
        }
        &--15{
            grid-template-columns: repeat(15, 1fr);
        }
    }
}

.game--fullscreen{
    max-width: 100%;
    margin: auto;
}

.game--almost-fullscreen{
    max-width: 88vh;
    margin: auto;
}

.game__players--player-two{
    text-align: right;
}

.game__action{
    text-align: center;
}

.game__actions{
    margin: 20px 0px;
    padding-bottom: 30px;
}