<h1 mat-dialog-title *ngIf="winner; else drawTitle">
    <span *ngIf="winner.id === 0" i18n="red won"> Victoire des Rouges !</span>
    <span *ngIf="winner.id === 1" i18n="yellow won"> Victoire des Jaunes !</span>
</h1>
<ng-template #drawTitle><h1 mat-dialog-title i18n="nobody won" >Match nul !</h1><h2 mat-dialog-title i18n="the grid is full">La grille est pleine...</h2></ng-template>
<mat-dialog-content class="mat-typography">
    <ng-container mat-dialog-title *ngIf="winner; else drawImage">
        <img *ngIf="winner.id === 0" src="/assets/img/trophee-red.svg" class="win__image" />
        <img *ngIf="winner.id === 1" src="/assets/img/trophee-yellow.svg" class="win__image" />
    </ng-container>
    <ng-template #drawImage><img src="/assets/img/draw.svg" class="win__image" /></ng-template>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close="quit" i18n="quit">Quitter</button>
  <button mat-raised-button color="primary" mat-dialog-close="replay" cdkFocusInitial i18n="play again">Rejouer</button>
</mat-dialog-actions>
